header {
    background-image: url(../images/flywheel.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 15px;
    padding-bottom: 50px;
    margin: 25px 15px 0px 15px;
}

nav a {
    display: inline-block;
    width: 12%;
    text-align: center;
    font-size: 20px;
    color: black;
    background-color: rgb(255, 255, 255, 0.35);
    margin-top: 5px;
    margin-left: 80px;
    padding: 17px 20px 17px 20px;
    border-radius: 5px;
    text-decoration: none;
}

a:hover {
    background: black;
    color: white;
}

.active {
    background-color: white;
    color: black;
}

h1 {
    font-family: "Bodoni Bd BT";
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 25px;
}

aside img {
    display: block;
    max-width: 75%;
    border: 2px solid black;
    margin: 40px auto
}

h2 {
    font-weight: bolder;
    font-size: 30px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  
.left {
    flex-basis: 21%;
    background-color: #777613;
    margin-left: 15px;
    padding-bottom: auto;
}

.right {
    flex-basis: 76%;
    margin-right: 15px;
}

p {
    font-size: 20px;
}
